/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, form {
  text-align: center;
}

button {
  display: block;
  margin: .8rem auto .5rem;
  padding: 0.2rem .6rem;
}

span {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 33%;
  font-size: 2em;
  padding-bottom: .5rem;
}

* {
  font-family: monospace;
}

p {
  text-align: center;
}

#heartGoHere{
  display: inline;
}

#oGoHere{
  display:inline;
}

#alertGoHere {
  display: inline;
}

#heartGoHere{
  margin-left: 0%;
  font-size:small;
  padding-top: 50%;
  vertical-align: top;
  color: red;
}

.hidden {
  display: none;
  visibility: hidden;
}

#player {
  display: flex;
  align-items: center;
}

#weeknd {
  margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

span {
  font-family: 'Comforter Brush', cursive;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, form {
  text-align: center;
}

button {
  display: block;
  margin: .8rem auto .5rem;
  padding: 0.2rem .6rem;
}

span {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 33%;
  font-size: 2em;
  padding-bottom: .5rem;
}

* {
  font-family: monospace;
}

p {
  text-align: center;
}

#heartGoHere{
  display: inline;
}

#oGoHere{
  display:inline;
}

#alertGoHere {
  display: inline;
}

#heartGoHere{
  margin-left: 0%;
  font-size:small;
  padding-top: 50%;
  vertical-align: top;
  color: red;
}

.hidden {
  display: none;
  visibility: hidden;
}

#player {
  display: flex;
  align-items: center;
}

#weeknd {
  margin: 0 auto;
}


@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

span {
  font-family: 'Comforter Brush', cursive;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
